body {
  color: whitesmoke;
  min-height: 100vh;
}

h1 {
  font-size: 72px;
}
h2 {
  font-size: 18px;
}

h3 {
  font-size: 24px;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.hero {
  text-align: center;
  padding: 200px 0;
  background-image: url(../images/Background-Headshot.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 5%;
}

.btn-branding {
  color: black;
  background-color: whitesmoke;
  border-radius: 20px;
  padding: 5px 25px;
}

.main-background {
  background: hsla(0, 0%, 0%, 1);

  background: linear-gradient(
    135deg,
    hsla(0, 0%, 0%, 1) 17%,
    hsla(204, 39%, 23%, 1) 48%,
    hsla(82, 8%, 28%, 1) 100%
  );

  background: -moz-linear-gradient(
    135deg,
    hsla(0, 0%, 0%, 1) 17%,
    hsla(204, 39%, 23%, 1) 48%,
    hsla(82, 8%, 28%, 1) 100%
  );

  background: -webkit-linear-gradient(
    135deg,
    hsla(0, 0%, 0%, 1) 17%,
    hsla(204, 39%, 23%, 1) 48%,
    hsla(82, 8%, 28%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#000000", endColorstr="#233E50", GradientType=1 );
}

.reverse-background {
background: hsla(82, 8%, 28%, 1);

background: linear-gradient(
315deg, 
hsla(82, 8%, 28%, 1) 28%, 
hsla(205, 39%, 23%, 1) 61%, 
hsla(0, 0%, 0%, 1) 98%);

background: -moz-linear-gradient(
  315deg, hsla(82, 8%, 28%, 1) 28%, 
  hsla(205, 39%, 23%, 1) 61%, 
  hsla(0, 0%, 0%, 1) 98%);

background: -webkit-linear-gradient(
  315deg, 
  hsla(82, 8%, 28%, 1) 28%, 
  hsla(205, 39%, 23%, 1) 61%, 
  hsla(0, 0%, 0%, 1) 98%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#494D42", endColorstr="#243F52", GradientType=1 );GradientType=1 );
}

.headshot-gallery-title {
  font-size: 20px;
  margin: 50px 0;
}

.headshot-row {
  padding-bottom: 100px;
}

.yellowbelly {
  color: rgb(234, 202, 21);
  text-decoration: none;
}

.yellowbelly:hover {
  color: #ffff00;
}

.about-hero {
  border: 2px solid whitesmoke;
  padding: 20px 0 0 0;
}

.about-paragraph {
  padding: 150px 0 0 50px;
  
}

@media (max-width: 900px) {
  .hero {
    background-image: none;
    padding: 75px 0 10px 0;
  }
}
