body {
  color: whitesmoke;
  min-height: 100vh;
}

h1 {
  font-size: 72px;
}
h2 {
  font-size: 18px;
}

h3 {
  font-size: 24px;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.hero {
  text-align: center;
  padding: 200px 0;
  background-image: url(../images/Background-Headshot.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 5%;
}

.btn-branding {
  color: black;
  background-color: whitesmoke;
  border-radius: 20px;
  padding: 5px 25px;
}

.main-background {
  background: hsla(0, 0%, 0%, 1);

  background: linear-gradient(
    135deg,
    hsla(0, 0%, 0%, 1) 17%,
    hsla(204, 39%, 23%, 1) 48%,
    hsla(82, 8%, 28%, 1) 100%
  );

  background: -moz-linear-gradient(
    135deg,
    hsla(0, 0%, 0%, 1) 17%,
    hsla(204, 39%, 23%, 1) 48%,
    hsla(82, 8%, 28%, 1) 100%
  );

  background: -webkit-linear-gradient(
    135deg,
    hsla(0, 0%, 0%, 1) 17%,
    hsla(204, 39%, 23%, 1) 48%,
    hsla(82, 8%, 28%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#000000", endColorstr="#233E50", GradientType=1 );
}

.reverse-background {
  background: hsla(0, 0%, 0%, 1);

  background: linear-gradient(
    135deg,
    hsla(0, 0%, 0%, 1) 17%,
    hsla(204, 39%, 23%, 1) 48%,
    hsla(82, 8%, 28%, 1) 100%
  );

  background: -moz-linear-gradient(
    135deg,
    hsla(0, 0%, 0%, 1) 17%,
    hsla(204, 39%, 23%, 1) 48%,
    hsla(82, 8%, 28%, 1) 100%
  );

  background: -webkit-linear-gradient(
    135deg,
    hsla(0, 0%, 0%, 1) 17%,
    hsla(204, 39%, 23%, 1) 48%,
    hsla(82, 8%, 28%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#000000", endColorstr="#233E50", GradientType=1 );
}

.headshot-gallery-title {
  font-size: 20px;
  margin: 50px 0;
}

.headshot-row {
  padding-bottom: 100px;
}

@media (max-width: 900px) {
  .hero {
    background-image: none;
  }
}
